body {
  background: url(phillip.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  background-attachment: fixed;
  background-color: black;
  min-height: auto;
  min-width: auto;
}

.content {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 10;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  padding: 40px;
  font-size: 110%;
  font-family: Verdana;
}

a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-family: Verdana;
}

a:hover {
  color: #0033cc;
  text-decoration: none;
  cursor: pointer;
  font-family: Verdana;
}
